* {
  margin: 0px;
}
#table {
  background: #ccc;
  width: 404px;
  height: 404px;
  margin: 85px auto;
}
#_1 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}

#_2 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_3 {
  width: 132px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_4 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_5 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_6 {
  width: 132px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_7 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_8 {
  width: 133px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#_9 {
  width: 132px;
  height: 133px;
  float: right;
  border: solid #000 1px;
}
#__1 {
  float: right;
}
#__2 {
  float: right;
}

